* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.promo {
    height: 800px;
    background: url('../img/bg/main_bg.png') center center/ cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo_text {
    margin-bottom: 53px;
}

.logo .logo_text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 14px;
}

.title {
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
}

.simple .title_big {
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 21px;
    margin-bottom: 30px;
}

.promo .promo_text {
    padding: 0 13px;
    margin-top: 23px;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
}

.promo .promo_text span {
    color: #F9BF3B;
    font-weight: 700;
}

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    padding: 28px 35px;
    background-image: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.18);
    border: 1px solid rgba(0, 0, 0, 0.23);
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.more {
    margin-top: 73px;
}

.more .more_text {
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    min-height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header,
.finish .finish_header {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.waiting .wating_divider,
.finish .finish_divider {
    margin: 0 auto;
    margin-top: 18px;
    width: 220px;
    height: 7px;
    background: #F9BF3B;
}

.waiting .waiting_subheader {
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 18px;
}

.waiting .waiting_wraper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wraper .waiting_item {
    width: 340px;
    text-align: center;
}

.waiting_item:not(:last-child) {
    margin-right: 48px;
}

.waiting .waiting_wraper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wraper .waiting_item .waiting_descr {
    margin-top: 33px;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #4A4A4A;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header {
    margin-left: 391px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 30px;
    /* align-items: center; */
    text-transform: uppercase;
    color: #299CBD;
}

.optimization .optimization_text {
    margin-left: 391px;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    align-items: center;
    color: #4A4A4A;
}

.optimization .optimization_text span {
    font-weight: 700;
}

.optimization .optimization_img {
    position: absolute;
    top: -54px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
}

.finish .finish_header {
    color: #EFEFEF;
}

.finish .finish_divider {
    margin-bottom: 41px;
}

.finish_decor_bg {
    background: url('../img/bg/second_bg.png') center center/cover no-repeat;
}

.finish .finish_wrapper {
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 100%;
    width: 118px;
    height: 118px;
    background: #B4E2FF;
    margin-bottom: 25px;
}

.finish .finish_wrapper .finish_item .finish_descr {
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #EFEFEF;
}

.gift {
    padding: 70px 391px;
    min-height: 631px;
}

.gift .gift_img {
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
}

.gift .gift_descr {
    margin-bottom: 70px;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
}

.gift .gift_btn {
    display: block;
    margin: 0 auto;
    padding: 20px 20px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}